<a href="https://colab.research.google.com/github/tushar2k/Sem-V-labs/blob/master/AI%20ML-%20ECSE303L/AI_Lab5_T2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Predicting Customer response to Personal Loan Ad-Campaign

#### Dataset
The dataset is available at <strong>"data/personal_loan.csv"</strong> in the respective challenge's repo.<br>
Original Dataset : https://www.kaggle.com/itsmesunil/bank-loan-modelling

#### Features (X)
1. Age - Customer's age in completed years. (Numeric)
2. Experience - No. of years of professional experience (Numeric)
3. Income - Annual income of the customer. (Numeric)
4. ZIPCode - Home Address ZIP code. (Numeric)
5. Family - Family size of the customer. (Numeric)
6. CCAvg Avg. - Spending on credit cards per month (Numeric)
7. Education  - 
    - Education Level (Categorical|Multiclass):
        - 1: Undergrad
        - 2: Graduate
        - 3: Advanced/Professional 
8. Mortgage - Value of house mortgage if any. (Numeric)
9. Securities Account - Does the customer have a securities account with the bank? (Categorical | Binary)
10. CD Account - Does the customer have a certificate of deposit (CD) account with the bank? (Categorical | Binary)
11. Online - Does the customer use internet banking facilities? (Categorical | Binary)
12. CreditCard - Does the customer uses a credit card issued by UniversalBank? (Categorical | Binary)

#### Target (y)
- Personal Loan : Did this customer accept the personal loan offered in the last campaign? (Binary)

#### Objective
- To apply Logistic Regression and Decision Tree Algorithms on the given imbalanced dataset. and compare the algorithms used on our dataset on the basis of appropriately used evaluated metrics while presenting a summarized analysis of what you find.

#### Tasks
- Download and load the data (csv file).
- Process the data according to guidelines given in the comments of the respective cells.
- Split the dataset into 80% for training and rest 20% for testing. (sklearn.model_selection.train_test_split function).
- Initialize Logistic Regression and Decision Tree Models (With parameters given in the cell).
- Train the models on the same dataset.
- Compute the confusion matrix for both models and compare.
- Compute a classification report (Precision, Recall and F-1 score) for both models and compare. 
- Compute and plot the ROC Curve of both curves and simultaneously compute the ROC-AUC for both models and thereby compare.
- Summarize your findings and give reasoning for your results (comparing task_1 and task_2).

#### Further Fun (will not be evaluated)
- Train model on different train-test splits such as 60-40, 50-50, 70-30, 80-20, 90-10, 95-5 etc. and observe accuracies on both X_train and X_test.
- Shuffle training samples with different random seed values in the train_test_split function. Check the model error for the testing data for each setup.
- Explore ways to deal with imbalanced dataset. Use different methods (such as eliminating outliers and such) to experiment with the given dataset.

#### Helpful links
- pd.get_dummies() and One Hot Encoding: https://queirozf.com/entries/one-hot-encoding-a-feature-on-a-pandas-dataframe-an-example
- Differences between Logistic Regression and a Decision Tree: https://www.geeksforgeeks.org/ml-logistic-regression-v-s-decision-tree-classification/
- When are Decision Trees better than Logistic Regression?: https://www.displayr.com/decision-trees-are-usually-better-than-logistic-regression
- How to choose between Logistic Regression and Decision Trees given a dataset: https://datascience.stackexchange.com/questions/6048/should-i-use-a-decision-tree-or-logistic-regression-for-classification
- Decision Tree Classifier by Sklearn: https://scikit-learn.org/stable/modules/generated/sklearn.tree.DecisionTreeClassifier.html
- Understanding classification metrics like Precision, Recall, F-Scores and Confusion matrices: https://nillsf.com/index.php/2020/05/23/confusion-matrix-accuracy-recall-precision-false-positive-rate-and-f-scores-explained/
- Understanding the ROC Curve: https://developers.google.com/machine-learning/crash-course/classification/roc-and-auc
- Use slack for doubts: https://join.slack.com/t/deepconnectai/shared_invite/zt-givlfnf6-~cn3SQ43k0BGDrG9_YOn4g

In [1]:
# Importing necessary libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import MinMaxScaler, StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import f1_score, precision_score, recall_score
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report
from sklearn.metrics import roc_curve, roc_auc_score

In [ ]:
# Download the dataset from the source
# !wget _URL_

In [2]:
# Read the data from local cloud directory
data = pd.read_csv('https://raw.githubusercontent.com/DeepConnectAI/challenge-week-5/master/data/personal_loan.csv')

In [3]:
# Print the dataframe rows just to see some samples
data.head(10)

   Age  Experience  Income  ...  CD Account  Online  Personal Loan
0   25           1      49  ...           0       0              0
1   45          19      34  ...           0       0              0
2   39          15      11  ...           0       0              0
3   35           9     100  ...           0       0              0
4   35           8      45  ...           0       0              0
5   37          13      29  ...           0       1              0
6   53          27      72  ...           0       1              0
7   50          24      22  ...           0       0              0
8   35          10      81  ...           0       1              0
9   34           9     180  ...           0       0              1

[10 rows x 13 columns]

In [4]:
# Print shape of the dataframe
data.shape

(5000, 13)

In [5]:
# Take a look at the distribution of target variable (Below is an example of what we mean)
print(data['Personal Loan'].value_counts())

0    4520
1     480
Name: Personal Loan, dtype: int64

### This is an imbalanced dataset, as shown above

In [6]:
# Print info about dataset
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Age                 5000 non-null   int64
 1   Experience          5000 non-null   int64
 2   Income              5000 non-null   int64
 3   ZIP Code            5000 non-null   int64
 4   Family              5000 non-null   int64
 5   CCAvg               5000 non-null   float64
 6   Education           5000 non-null   int64
 7   Mortgage            5000 non-null   int64
 8   CreditCard          5000 non-null   int64
 9   Securities Account  5000 non-null   int64
 10  CD Account          5000 non-null   int64
 11  Online              5000 non-null   int64
 12  Personal Loan       5000 non-null   int64
dtypes: float64(1), int64(12)
memory usage: 507.9 KB
None

In [ ]:
# Fill Missing Values (if any)

In [ ]:
# Label Encode Categorical Columns (if required)

In [ ]:
# Normalize/Standardize numerical columns

In [ ]:
# One hot encode columns with multiple categories
# Use pd.get_dummies(), concatenate that with the original dataset, and drop the column (keeping only the dummy columns)
# Use link given in the "Helpful Links" section for help

In [ ]:
# Define Feature Columns as X and Target Column as y
X =
y =

In [ ]:
# Do train-test split
X_train, X_test, y_train, y_test = train_test_split(?, ?, test_size=0.20, random_state=42)

### Logistic Regression Model

In [ ]:
# Initializing the model
log_reg = LogisticRegression()

In [ ]:
# Train the model
log_reg.fit(?,?)

In [ ]:
# Make Predictions on the test data (log_prob values represents raw probabilities of predictions)
# It will be used for ROC Curves
log_pred = log_reg.predict(?)
log_prob = log_reg.predict_proba(?)

### Decision Tree Model

In [ ]:
# Initializing the model
d_tree = DecisionTreeClassifier()

In [ ]:
# Train the model
d_tree.fit(?,?)

In [ ]:
# Make Predictions on the test data (dt_prob values represents raw probabilities of predictions)
# It will be used for ROC Curves
dt_pred = d_tree.predict(?)
dt_prob = d_tree.predict_proba(?)

## Evaluating Our Models

In [ ]:
# Confusion matrix for Logistic Regression Model
print(confusion_matrix(?,?))

In [ ]:
# Confusion matrix for Decision Tree Model
print(confusion_matrix(?,?))

### <b>Think</b> : Would accuracy_score be a good evaluation metric, given that the dataset is imbalanced?

In [ ]:
# Since the dataset is imbalanced, we evaluate our model using F1-Score

In [ ]:
# F1-Score for Logistic Regression Model
print(f1_score(?,?))

In [ ]:
# F1-Score for Decision Tree Model
print(f1_score(?,?))

In [ ]:
# Classification report for Logistic Regression Model
print(classification_report(?,?))

In [ ]:
# Classification report for Decision Tree Model
print(classification_report(?,?))

### Plotting the ROC Curve and computing the ROC-AUC

In [ ]:
#ROC-AUC curve is a performance measurement for classification problems at various thresholds settings.

In [ ]:
#Calculate False Positive Rate and True Positive Rate for y_test
fpr1, tpr1, thresh1 = roc_curve(?, ?, pos_label=1)
fpr2, tpr2, thresh2 = roc_curve(?, ?, pos_label=1)

random_probs = [0 for i in range(len(y_test))]
p_fpr, p_tpr, _ = roc_curve(y_test, random_probs, pos_label=1)

In [ ]:
#Plot ROC Curve (TPR vs FPR)
plt.style.use('seaborn')
plt.plot(fpr1, tpr1, linestyle='--',color='orange', label='Logistic Regression')
plt.plot(fpr2, tpr2, linestyle='-',color='green', label='Decision Tree')
plt.plot(p_fpr, p_tpr, linestyle='-.', color='blue')
plt.title('ROC curve')
plt.xlabel('False Positive Rate')
plt.ylabel('True Positive rate')
plt.legend(loc='best')
plt.show();

In [ ]:
#Print ROC-AUC scores for both models
auc_score1 = roc_auc_score(?, ?)
auc_score2 = roc_auc_score(?, ?)

print("ROC-AUC Score for Logistic Regression: ",auc_score1)
print("ROC-AUC Score for Decision Tree: ",auc_score2)

## Conclusive Analysis

Summarize your findings and give reasoning for the results you obtained from task_1 and task_2 and compare the algorithms utilized based on the evaluations metrics used.

In [ ]:
print(?)